:host {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #f1e3a5;
  max-width: 600px;
  max-height: 600px;
}


.dialog-title {
  font-size: 30px;
  width: 90%;
  padding-top: 25px;
  padding-left: 30px;
  color: rgb(43, 43, 43);
}

.task-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.title-field,
.description-field {
  width: 90%;

}

.description-field textarea {
  height: 150px;
}

.button-group {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  width: 80%;
}

.salvar-button {
  background-color: #01adb3;
  color: white;
}

.salvar-button:hover {
  background-color: #019a9f;
}

