
  <h2 class="dialog-title">Nova Tarefa</h2>
  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()" class="task-form">

    <mat-form-field appearance="fill" class="title-field">
      <mat-label>Título</mat-label>
      <input matInput formControlName="titulo"  required >

      <mat-error *ngIf="taskForm.get('titulo')?.hasError('required')">
        Título é obrigatório.
      </mat-error>
      <mat-error *ngIf="taskForm.get('titulo')?.hasError('minlength')">
        Título deve ter no pelo menos 4 caracteres.
      </mat-error>
      <mat-error *ngIf="taskForm.get('titulo')?.hasError('maxlength')">
        Título deve ter no máximo 50 caracteres.
      </mat-error>

    </mat-form-field>

    <mat-form-field appearance="fill" class="description-field">
      <mat-label>Descrição</mat-label>
      <textarea matInput formControlName="descricao" rows="6"  required></textarea>

      <mat-error *ngIf="taskForm.get('descricao')?.hasError('required')">
        Descrição é obrigatória.
      </mat-error>
      <mat-error *ngIf="taskForm.get('descricao')?.hasError('minlength')">
        Descrição deve ter pelo menos 4 caracteres.
      </mat-error>
      <mat-error *ngIf="taskForm.get('descricao')?.hasError('maxlength')">
        Descrição deve ter no máximo 500 caracteres.
      </mat-error>

    </mat-form-field>

    <div class="button-group">
      <button mat-raised-button color="primary" type="submit" class="salvar-button">Salvar</button>
      <button mat-button type="button" (click)="onCancel()">Cancelar</button>
    </div>
  </form>


